@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Body Styles - Mobile */
  --text-body-01-m: 12px;
  --leading-body-01-m: 140%;
  --text-body-02-m: 14px;
  --leading-body-02-m: 140%;
  --text-body-03-m: 16px;
  --leading-body-03-m: 140%;

  /* Body Styles - Desktop */
  --text-body-01-d: 16px;
  --leading-body-01-d: 140%;
  --text-body-02-d: 18px;
  --leading-body-02-d: 140%;
  --text-body-03-d: 21px;
  --leading-body-03-d: 140%;

  /* Link Styles - Mobile */
  --text-link-01-m: 12px;
  --leading-link-01-m: 140%;
  --text-link-02-m: 14px;
  --leading-link-02-m: 140%;

  /* Link Styles - Desktop */
  --text-link-01-d: 14px;
  --leading-link-01-d: 140%;
  --text-link-02-d: 16px;
  --leading-link-02-d: 140%;

  /* Heading Styles - Mobile */
  --text-heading-01-m: 28px;
  --leading-heading-01-m: 100%;
  --text-heading-02-m: 38px;
  --leading-heading-02-m: 100%;
  --text-heading-03-m: 48px;
  --leading-heading-03-m: 100%;

  /* Heading Styles - Desktop */
  --text-heading-01-d: 44px;
  --leading-heading-01-d: 100%;
  --text-heading-02-d: 58px;
  --leading-heading-02-d: 100%;
  --text-heading-03-d: 66px;
  --leading-heading-03-d: 100%;

  /* color */
  --color-green-1: #2ab15b;
  --color-green-2: #5ed477;
  --color-yellow-1: #f6e954;
  --color-yellow-2: #5ed477;
  --color-neutral: #000000;
  --color-base-100: #ffffff;
  --color-base-200: #ececec;
  --color-base-300: #898989;
  --color-accent: #ff6694;
}

/* Body Typography Utilities */
@utility typo-body-01-normal {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-body-01-m);
  line-height: var(--leading-body-01-m);
  font-weight: 400;
}
@media (min-width: 768px) {
  .typo-body-01-normal {
    font-size: var(--text-body-01-d);
    line-height: var(--leading-body-01-d);
  }
}

@utility typo-body-01-semibold {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-body-01-m);
  line-height: var(--leading-body-01-m);
  font-weight: 600;
}
@media (min-width: 768px) {
  .typo-body-01-semibold {
    font-size: var(--text-body-01-d);
    line-height: var(--leading-body-01-d);
  }
}

@utility typo-body-02-normal {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-body-02-m);
  line-height: var(--leading-body-02-m);
  font-weight: 400;
}
@media (min-width: 768px) {
  .typo-body-02-normal {
    font-size: var(--text-body-02-d);
    line-height: var(--leading-body-02-d);
  }
}

@utility typo-body-02-semibold {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-body-02-m);
  line-height: var(--leading-body-02-m);
  font-weight: 600;
}
@media (min-width: 768px) {
  .typo-body-02-semibold {
    font-size: var(--text-body-02-d);
    line-height: var(--leading-body-02-d);
  }
}

@utility typo-body-03-normal {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-body-03-m);
  line-height: var(--leading-body-03-m);
  font-weight: 400;
}
@media (min-width: 768px) {
  .typo-body-03-normal {
    font-size: var(--text-body-03-d);
    line-height: var(--leading-body-03-d);
  }
}

@utility typo-body-03-semibold {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-body-03-m);
  line-height: var(--leading-body-03-m);
  font-weight: 600;
}
@media (min-width: 768px) {
  .typo-body-03-semibold {
    font-size: var(--text-body-03-d);
    line-height: var(--leading-body-03-d);
  }
}

/* Link Typography Utilities */
@utility typo-link-01 {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-link-01-m);
  line-height: var(--leading-link-01-m);
  font-weight: 400;
}
@media (min-width: 768px) {
  .typo-link-01 {
    font-size: var(--text-link-01-d);
    line-height: var(--leading-link-01-d);
  }
}

@utility typo-link-02 {
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
  font-size: var(--text-link-02-m);
  line-height: var(--leading-link-02-m);
  font-weight: 400;
}
@media (min-width: 768px) {
  .typo-link-02 {
    font-size: var(--text-link-02-d);
    line-height: var(--leading-link-02-d);
  }
}

/* Heading Typography Utilities */
@utility typo-heading-mobile-01 {
  font-family: var(--font-fc-minimal), sans-serif;
  font-size: var(--text-heading-01-m);
  line-height: var(--leading-heading-01-m);
  font-weight: 700;
}
@media (min-width: 768px) {
  .typo-heading-mobile-01 {
    font-size: var(--text-heading-01-d);
    line-height: var(--leading-heading-01-d);
  }
}

@utility typo-heading-mobile-02 {
  font-family: var(--font-fc-minimal), sans-serif;
  font-size: var(--text-heading-02-m);
  line-height: var(--leading-heading-02-m);
  font-weight: 700;
}
@media (min-width: 768px) {
  .typo-heading-mobile-02 {
    font-size: var(--text-heading-02-d);
    line-height: var(--leading-heading-02-d);
  }
}

@utility typo-heading-mobile-03 {
  font-family: var(--font-fc-minimal), sans-serif;
  font-size: var(--text-heading-03-m);
  line-height: var(--leading-heading-03-m);
  font-weight: 700;
}
@media (min-width: 768px) {
  .typo-heading-mobile-03 {
    font-size: var(--text-heading-03-d);
    line-height: var(--leading-heading-03-d);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  @apply transition-colors;
}
a:hover {
  @apply text-black underline;
}
a:visited {
  @apply text-zinc-500;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans-thai-looped), sans-serif;
}

/* Hide scrollbar for carousel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
